# dependencies
node_modules/
**/node_modules/

# compiled output
dist/
build/
**/*.tsbuildinfo

# Logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# env files
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo
